<html>
    <head>
     
     <audio controls autoplay loop>
 <source src="Music/bgmusic.ogg" type="audio/ogg; codecs=vorbis"/>
</audio>
    <title>Login Form Design</title>
    <link rel="stylesheet" type="text/css" href="Bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="Bootstrap/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="play.css">
    
    </head>
    <body>
    <div id="main-box" class="container-fluid rounded ">
        <div style="heigh: 80%">
            <div class="text-center"><h1 style="font-size: 28"><%=name%></h1></div>
            <div id="break"></div>
            <div class="w-100 container-fluid" id="photo-frame">
                 <div class="row justify-content-center" style="height: 100%"><img id="photo" class="align-middle" src="<%= url%>"/></div></table>
            </div>
            <p>
            <form method="post" action = "/play">
                <div class="container"  style="text-align: center">
                    <p><strong><%=desc%></strong></p>
                    <p>
        </div>
        <div class="row">
                <div class="col-2"></div>
                <div class="col-3"><p>Guess how much it will cost?</p></div>
                <div class="col-5">
                 <input id="textfield" type="text"  name="guessedPrice" placeholder="Enter the price " >
                 <input type="hidden" name="id" value="<%= id%>">
                 <input type="hidden" name="name" value="<%= name%>">
                 <input type="hidden" name="desc" value="<%= desc%>">
                 <input type="hidden" name="price" value="<%= price%>">
                 <input type="hidden" name="username" value="<%= username%>">
                 <input type="hidden" name="score" value="<%= score%>">
                 <input id="submit" type="submit" value="Submit" id="sign" class="btn btn-outline-danger">
                </div>
         </div>
         <p>
        <div style="color: red">
         <p class="text-center"></p>
        </div>
        </form>       
    </div>
    <div class="col-4 container-fluid rounded"  style="padding: .5vh;color: red; background-color: white;">  
    <p class="text-center"><%=message%><p class="text-center"><%=username%>, your current accuracy is: <%= Number(score).toFixed(2)%>%</p></div>
    </div>
</html>